.container{
          display: flex;
          flex-direction: column;
          padding: 1em;
          gap: 1em;
          justify-content: center;
          align-items: center;
}
.popup{
          display: flex;
          flex-direction: column;
}